.task-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  margin-bottom: 20px;
}
